@import "../../shared/variables";

.dblock {
  padding: 0.25rem;
  outline: 0px solid transparent;
  // Better support for safari
  -webkit-user-select: text;
  user-select: text;
  color: black;
}

.block {
  padding: 0.25rem;
  outline: 0px solid transparent;
  // Better support for safari
  -webkit-user-select: text;
  user-select: text;
  color: white;
}


.block:focus,
.dblock:focus,
.isDragging,
.blockSelected {
  background: $tertiary;
  outline-color: $tertiary;

  & ~ .dragHandle {
    opacity: 1;
  }
}

.placeholder {
  color: rgba(72, 72, 72, 0.25);
}

.draggable .block {
  display: inline-block;
  width: calc(100% - 1rem);
}

.draggable .dblock {
  display: inline-block;
  width: calc(100% - 1rem);
}


.draggable:hover {
  .block {
    background: rgba(147, 150, 159, 0);
    outline-color: $tertiary;
  }
  .dragHandle {
    opacity: 1;
  }
}

.dragHandle {
  opacity: 0;
  display: inline-block;
  width: 1rem;
  img {
    display: block;
    margin: auto;
  }
}

.image {
  display: inline-block;
  width: calc(100% - 1rem);
  padding: 0.25rem;
  img {
    display: block;
    max-height: 600px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.blockSelected.image {
  opacity: 0.75;
}

.fileInputLabel {
  display: block;
  color: rgba(136, 136, 136, 0.13);
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}
